.root {
  margin-top: 50px;
}

.image {
  width: 200px;
  height: 200px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tweets {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeText {
  color: #71c783;
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 5px;
}

.homeSubText {
  font-size: 20px;
  margin-top: 0px;
}
