.root {
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5em;
}

.avatar {
  width: 250px !important;
  height: 250px !important;
  margin-left: 2em;
}

.header {
  align-self: flex-start;
}

.username {
  margin-left: 20px;
  font-size: 50px;
  margin-bottom: 8px;
}

.icon {
  font-size: 20px !important;
  margin-right: 5px;
}

.stats {
  display: flex;
}

.span {
  margin-left: 2em;
}

.number {
  margin-top: 0;
  text-align: center;
<<<<<<< HEAD
  font-size: 2.5em;
=======
  font-size: 2em;
>>>>>>> 30a10c72df294ecf70ce65b82f5056574128dde8
}

.button {
  background-color: #71c783 !important;
  color: white !important;
  margin-left: 20px !important;
<<<<<<< HEAD
  font-size: 20px !important;
=======
>>>>>>> 30a10c72df294ecf70ce65b82f5056574128dde8
}

.list {
  display: flex;
  margin-top: 15px !important;
  align-items: center;
}
<<<<<<< HEAD

.tweet {
  font-size: 15px !important;
}
=======
>>>>>>> 30a10c72df294ecf70ce65b82f5056574128dde8
