.root {
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5em;
}

.avatar {
  width: 300px !important;
  height: 300px !important;
  margin-left: 2em;
}

.header {
  align-self: flex-start;
}

.username {
  margin-left: 20px;
  font-size: 55px;
  margin-bottom: 8px;
}

.icon {
  font-size: 20px !important;
  margin-right: 5px;
}

.stats {
  display: flex;
}

.span {
  margin-left: 2em;
}

.number {
  margin-top: 0;
  text-align: center;
  font-size: 3em;
}

.button {
  background-color: #71c783 !important;
  color: white !important;
  margin-left: 20px !important;
}

.list {
  display: flex;
  margin-top: 15px !important;
  align-items: center;
}
